<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getLastName()}">VALUE</p>
<a th:href="'/users/edit/?id=' + ${user.getId()}">Edit</a>



<!--<form th:method="post" th:action="'/users/?id='+${user.getId()}" style="display:inline;" >-->
<!--    <input type="SUBMIT" value="DELETE"/>-->
<!--</form>-->

<form th:action="@{/users/delete}" method="post" style="display:inline;">
    <input type="hidden" th:value="${user.id}" name="id"/>
    <button type="submit">Удалить</button>
</form>

</body>
</html>